## Dasar Pemrograman 3
### 1. jenis - jenis tipe data dan contoh tipe data menggunakan Bahasa pemrograman

1. `Boolean` menyatakan benar True yang bernilai 1, atau salah False yang bernilai 0
2. `String` menyatakan karakter/kalimat bisa berupa huruf, angka yang diapit oleh tanda " atau ' contohnya "ayo jajan"
3. `Integer` menyatakan bilangan bulat contohnya 20 atau 110
4. `Float` menyatakan bilangan yang mempunyai koma contohnya 3, 12 atau 9,99
5. `Hexadecimal` menyatakan bilangan dalam format heksa (bilangan berbasis 16) contohnya 9a atau 1d3
6. `complex` menyatakan pasangan angka real dan imajiner contohnya 1 + 5j
7. `list` data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah contohnya ['xyz', 786, 2.13]
8. `Tuple` data untain yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah ('xyz', 786, 2.23)
9. `Dictionary` data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai contohnya {'nama':'Supian','id':}

In [3]:
#tipe data Boolean
print(True)

#tipe data String
print("halo saya Supian")
print('jurusan Teknik Informatika')

#tipe data Integer
print(20)

#tipe data Float
print(3, 12)

#tipe data Hexadecimal
print(0x9a)

#tipe data Complex
print(5j)

#tipe data list
print(1, 2, 3, 4, 5)
print(["satu", "dua", "tiga"])

#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Supian", 'umur':18})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Supian Sauri", 'umur':18} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
print(type(biodata)) #fungsi untuk mengecek jenis tipe data .akan tampil <class 'dict'> yang berarti dict adalah tipe data dictionary

True
halo saya Supian
jurusan Teknik Informatika
20
3 12
154
5j
1 2 3 4 5
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Supian', 'umur': 18}
{'nama': 'Supian Sauri', 'umur': 18}
<class 'dict'>

### 2. Program menampilkan Nama, Nomor Telepon, NIM

In [4]:
#Nama
print("Supian Sauri")

#Nomor Telepon
print("0815 0050 7505")

#NIM
print("20220040059")

Supian Sauri
0815 0050 7505
20220040059

### 3. Program penjumlahan dan pengurangan

In [7]:
#membuat sebuah pemrograman sederhana hasil dari (angka1+500)+(angka2+500)-200
#diketahui angka1 = 5000, angka2 = 2000 dan angka3 = 200

angka1 = 5000
angka2 = 2000
angka3 = 200

angka1 += 500
angka2 += 500

hasil = angka1 + angka2 - angka3
print(hasil)

7800

### 4. Program mencari keliling lingkaran dan volume kubus

In [9]:
#mencari keliling lingkaran 
phi = 3.14
r = float(input("masukan jari-jari:"))
print(f"jari-jari: {r}")

hasil = 2 + phi + r
print(f"hasil adalah: {hasil}")

masukan jari-jari:14
jari-jari: 14.0
hasil adalah: 19.14

In [10]:
#mencari volume kubus
s = float(input("masukan panjang sisi: "))
print(f"sisi-sisi: {s}")

hasil = s * s * s
print(f"hasilnya adalah: {hasil}")

masukan panjang sisi: 4
sisi-sisi: 4.0
hasilnya adalah: 64.0